<div id="chat-history" class="list-group overflow-auto rounded-0" style="overflow-y: auto; height: calc(100vh - 85px);">
  <% chats.each do |chat| %>
    <%= link_to analytics_user_path(current_user, chat_id: chat.id), 
      class: "list-group-item list-group-item-action #{'active' if chat == current_chat} text-light border-secondary",
      data: { turbo_frame: "_top" } do %>
          <div class="d-flex align-items-center">
            <% account_profile = AccountXProfile.find_by(x_username: chat.x_username) %>
              <img src="<%= account_profile&.profile_image_url %>" class="rounded-circle" alt="Profile Image" style="width: 40px; height: 40px; margin-right: 8px;">
              <span style="line-height: 40px;">@<%= chat.x_username %></span>
          </div>
    <% end %>
  <% end %>
</div>