<div id="chat-history" class="list-group overflow-auto rounded-0" style="overflow-y: auto;">
  <% chats.each do |chat| %>
    <%= link_to analytics_user_path(current_user, chat_id: chat.id), 
      class: "list-group-item list-group-item-action #{'active' if chat == current_chat} text-light border-secondary",
      data: { turbo_frame: "_top" } do %>
          <div class="d-flex justify-content-between align-items-center">
            <span><%= chat.created_at.strftime("%B %d, %Y") %></span>
            <small><%= chat.messages.count %> messages</small>
          </div>
    <% end %>
  <% end %>
</div>