<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 bg-light sidebar">
        <h3 class="mt-3 mb-4">Chat History</h3>
        <%= button_to "New Chat", analytics_chats_path(chat_type: "Personal", x_id: current_user.x_id, x_username: current_user.x_username), method: :post, class: "btn btn-primary mb-2" %>
        <%= render partial: 'chat_history', locals: { chats: @chats, current_chat: @current_chat } %>
      </div>
  
      <div class="col-md-9">
        <div id="chat-container" data-controller="chat">
          <%= render partial: 'chat', locals: { chat: @current_chat } %>
        </div>
      </div>
    </div>
  </div>