<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card bg-dark text-white">
          <div class="card-body" style="background-color: #1E1E1E">
            <h1 class="card-title text-center">New User</h1>
            <%= render 'form', user: @user %>
          </div>
        </div>
      </div>
    </div>
  </div>