@import "variables";

@font-face {
    font-family: 'BerkeleyMono';
    src: url(asset-path('BerkeleyMono-Regular.ttf')) format('truetype');
    font-weight: light;
    font-style: normal;
}

body {
    background-color: $bg-dark;
    color: $primary;
    font-family: 'BerkeleyMono', monospace; 
}

.chat-history-container {
  max-height: calc(100vh - 200px); /* Adjust as needed */
  overflow-y: auto;
}

.chat-input-container {
  position: fixed;
  bottom: 0;
  width: 75%;
  z-index: 1000; 
}
  
  .chat-history {
    overflow-y: auto;
    height: calc(100vh - 140px); 
    padding-bottom: 100px; 
  }
  
  .user-message {
    max-width: 60%;
    word-wrap: break-word;
  }
  
  .agent-message {
    background-color: #e9ecef;
    color: #333;
    max-width: 60%;
    word-wrap: break-word;
  }
  
  .form-control {
    border: 1px solid #ccc;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }